@media (min-width: 768px) {
	.navbar-right {
		margin-right: -10px;
	}
}

/*****************************/
@media(min-width:1200px){
	
}
@media(max-width:1199px){
	.navbar-default .navbar-nav > li > a {
		margin: 15px 10px;
		font-size: 11px;
	}
	.navbar.white .snappa-ref {
		color: #656565 !important;
		background: none;
		box-shadow: none;
		margin: 15px 10px;
		padding: 2px 0;
		line-height: 20px;
		height: auto;
		font-size: 11px;
		border-radius: 0;
	}
	.navbar.white .nav > li > a.snappa-ref:hover,
	.navbar.white .nav > li > a.snappa-ref:focus {
		border-bottom: 2px solid #656565;
		background: none;
		margin-bottom: 13px;
	}
	#main .title {
		float: none;
		width: 100%;
	}
	#main .title-container #carbonads {
		float: left;
	}
}

@media(max-width:991px) {
	.navbar-default .navbar-nav > li.all-photos,
	.navbar-default .navbar-nav > li.trending-photos {
		display: none;
	}
	#sidebar {
		display: none;
	}
	#main,
	.stick #main {
		float: none;
		width: 100%;
	}
	#homepage .jumbo h1 {
		font-size: 58px;
	}
	#homepage .jumbo .newadds {
		font-size: 16px;
	}
}

@media(min-width:992px) {

}

@media(max-width:767px) {
	.navbar:not(.white) .navbar-toggle {
		border-color: #fff;
	}
	.navbar:not(.white) .navbar-toggle .icon-bar {
		background-color: rgba(255,255,255,0.5);
	}
	.navbar:not(.white) .navbar-toggle:focus,
	.navbar:not(.white) .navbar-toggle:hover {
		background-color: rgba(255,255,255,0.3);
	}
	.navbar:not(.white) .navbar-collapse {
		background: rgba(0,0,0,0.8);
	}
	.navbar-default .navbar-nav {
		margin: 0;
	}
	.navbar-default .navbar-nav > li.all-photos,
	.navbar-default .navbar-nav > li.trending-photos {
		display: block;
	}
	.navbar-default .navbar-nav > li > a {
		display: block;
		padding: 15px 10px;
		margin: 0;
	}
	.navbar-default .navbar-nav > li > a:not(.snappa-ref):hover {
		margin-bottom: 0;
		border: 0;
	}
	.navbar.white .nav > li > a:not(.signupbtn):hover {
		margin-bottom: 0;
		border: 0;
	}
	.navbar:not(.white).navbar-default .navbar-nav > li > a:not(.snappa-ref):hover {
		background: rgba(255,255,255,0.2);
	}
	.navbar.navbar-default .navbar-nav > li > a:not(.snappa-ref):hover {
		background: rgba(0,0,0,0.1);
	}
	.navbar-default .navbar-nav > li > a.snappa-ref {
		display: none;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
		margin-bottom: 0;
	}
	.dropdown-menu:after,
	.dropdown-menu:before {
		display: none;
	}
	.navbar.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		padding: 10px 30px;
		font-size: 11px;
	}
	.navbar:not(.white).navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: rgba(255,255,255,0.8);
	}
	#homepage .jumbo h1 {
		font-size: 28px;
		font-weight: 700;
	}
	#homepage .jumbo .newadds {
		font-size: 16px;
	}
	.modal-dialog {
		margin: 40px auto;
	}
}
